@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tables_script">tables_script</button>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#change_code">change_code</button>
    <div id="tables_script" class="collapse">
	<xmp>
	SET ANSI_NULLS ON
	GO

	SET QUOTED_IDENTIFIER ON
	GO

	SET ANSI_PADDING ON
	GO

	CREATE TABLE [dbo].[Tables_tb](
		[Table_Name] [nvarchar](50) NOT NULL,
		[Display_Name] [nvarchar](50) NULL,
		[Use_As] [varchar](1000) NULL,
	 CONSTRAINT [PK_Tables_tb] PRIMARY KEY CLUSTERED 
	(
		[Table_Name] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]

	GO

	SET ANSI_PADDING OFF
	GO

	ALTER TABLE [dbo].[Tables_tb] ADD  CONSTRAINT [DF_Tables_tb_Use_As]  DEFAULT ('') FOR [Use_As]
	GO
	SET ANSI_NULLS ON
	GO

	SET QUOTED_IDENTIFIER ON
	GO

	SET ANSI_PADDING ON
	GO

	CREATE TABLE [dbo].[Columns_tb](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[Table_Name] [varchar](50) NOT NULL,
		[Column_Name] [varchar](50) NOT NULL,
		[Display_Name] [nvarchar](50) NULL,
		[Use_As] [varchar](1000) NULL,
	 CONSTRAINT [PK_Columns_tb_1] PRIMARY KEY CLUSTERED 
	(
		[Id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]

	GO

	SET ANSI_PADDING OFF
	GO
	SET ANSI_NULLS ON
	GO

	SET QUOTED_IDENTIFIER ON
	GO

	SET ANSI_PADDING ON
	GO

	CREATE TABLE [dbo].[Templates_tb](
		[Template_Name] [varchar](50) NOT NULL,
		[Template_Content] [ntext] NULL,
	 CONSTRAINT [PK_Templates_tb] PRIMARY KEY CLUSTERED 
	(
		[Template_Name] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

	GO

	SET ANSI_PADDING OFF
	GO
	</xmp>
    </div>
    <div id="change_code" class="collapse">
	<h2>Model/Templates_tb.cs</h2>
	<xmp>
[Column(TypeName = "ntext")]
[AllowHtml]
[DataType(DataType.MultilineText)]
public string Template_Content { get; set; }
	</xmp>
	<h2>Generate by Scaffolding</h2>
	<h2>Controllers/TablesController -> ActionResult Edit(string id)</h2>
	<xmp>
ViewBag.Template_Content = TemplateConfig.Generate(tables_tb.Table_Name);
	</xmp>
	<h2>Views/Tables/Edit.cshtml</h2>
	<xmp>
<div class="form-group">
	<label class="control-label col-md-2" for="Template_Content">Template_Content</label>
	<div class="col-md-10">
		Html.TextArea("Template_Content", (string)ViewBag.Template_Content)
	</div>
</div>	
	</xmp>
	<h2>Views/Templates/Edit.cshtml</h2>
	<xmp>
		Html.HiddenFor(model => model.Template_Content, new { id = "hidden_Template_Content" })
	</xmp>
    </div>
</div>