@{
    ViewBag.Title = "Home Page";
}

<h1>CODE</h1>
<div class="row">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#tables_script">tables_script</button>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#change_code">change_code</button>
    <div id="tables_script" class="collapse">
	<xmp>
	SET ANSI_NULLS ON
	GO

	SET QUOTED_IDENTIFIER ON
	GO

	SET ANSI_PADDING ON
	GO

	CREATE TABLE [dbo].[Tables_tb](
		[Table_Name] [nvarchar](50) NOT NULL,
		[Display_Name] [nvarchar](50) NULL,
		[Use_As] [varchar](1000) NULL,
	 CONSTRAINT [PK_Tables_tb] PRIMARY KEY CLUSTERED 
	(
		[Table_Name] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]

	GO

	SET ANSI_PADDING OFF
	GO

	ALTER TABLE [dbo].[Tables_tb] ADD  CONSTRAINT [DF_Tables_tb_Use_As]  DEFAULT ('') FOR [Use_As]
	GO
	SET ANSI_NULLS ON
	GO

	SET QUOTED_IDENTIFIER ON
	GO

	SET ANSI_PADDING ON
	GO

	CREATE TABLE [dbo].[Columns_tb](
		[Id] [int] IDENTITY(1,1) NOT NULL,
		[Table_Name] [varchar](50) NOT NULL,
		[Column_Name] [varchar](50) NOT NULL,
		[Display_Name] [nvarchar](50) NULL,
		[Use_As] [varchar](1000) NULL,
	 CONSTRAINT [PK_Columns_tb_1] PRIMARY KEY CLUSTERED 
	(
		[Id] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY]

	GO

	SET ANSI_PADDING OFF
	GO
	SET ANSI_NULLS ON
	GO

	SET QUOTED_IDENTIFIER ON
	GO

	SET ANSI_PADDING ON
	GO

	CREATE TABLE [dbo].[Templates_tb](
		[Template_Name] [varchar](50) NOT NULL,
		[Template_Content] [ntext] NULL,
	 CONSTRAINT [PK_Templates_tb] PRIMARY KEY CLUSTERED 
	(
		[Template_Name] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

	GO

	SET ANSI_PADDING OFF
	GO
	</xmp>
    </div>
    <div id="change_code" class="collapse">
    </div>
</div>