
<ion-modal-view>
	<ion-header-bar class="bar-dark">
    <button class="button button-clear" ng-click="closeQLSPThanhVienWnd()"><i class="icon ion-ios-close-outline"></i></button>
	  <h1 class="title">{{newQLSPThanhVien ? "CREATE" : "EDIT" | translate}} {{'THÀNH VIÊN' | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="saveQLSPThanhVien()"><i class="icon ion-checkmark-circled"></i></button>
    </div>
	</ion-header-bar>
  <ion-content>
  <form name="CreateEditQLSPThanhVienForm">
    <div class="list padding card">
    	<div class="item item-input">
              <span class="invalid-input" ng-if="!CreateEditQLSPThanhVienWnd.qlspThanhVien.Title"></span>
    		  <input type="text" ng-required="true" ng-model="CreateEditQLSPThanhVienWnd.qlspThanhVien.Title" placeholder="QLSPThanhVien {{ 'THÀNH VIÊN' | translate }}"/>
    	</div>
    	
        <div class="item item-divider">{{ 'Infomation' | translate }}</div>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Id' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPThanhVienWnd.qlspThanhVien.QLSPThanhVien_id" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Đợt Bán' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPThanhVienWnd.qlspThanhVien.QLSPChannel_id" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Tên' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPThanhVienWnd.qlspThanhVien.Title" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Ghi Chú' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPThanhVienWnd.qlspThanhVien.GhiChu" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Owner' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPThanhVienWnd.qlspThanhVien.IsOwner" />
    	</label>


     	<div class="padding">
    		<button class="button button-dark button-block" ng-click="saveQLSPThanhVien()">{{ 'Save' | translate }}</button>
    	</div>
   	</div>
  </form>

  </ion-content>
</ion-modal-view>

