
<ion-modal-view>
	<ion-header-bar class="bar-dark">
    <button class="button button-clear" ng-click="closeQLSPKhachHangWnd()"><i class="icon ion-ios-close-outline"></i></button>
	  <h1 class="title">{{newQLSPKhachHang ? "CREATE" : "EDIT" | translate}} {{'KHÁCH HÀNG' | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="saveQLSPKhachHang()"><i class="icon ion-checkmark-circled"></i></button>
    </div>
	</ion-header-bar>
  <ion-content>
  <form name="CreateEditQLSPKhachHangForm">
    <div class="list padding card">
    	<div class="item item-input">
              <span class="invalid-input" ng-if="!CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPKhachHang_title"></span>
    		  <input type="text" ng-required="true" ng-model="CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPKhachHang_title" placeholder="QLSPKhachHang {{ 'KHÁCH HÀNG' | translate }}"/>
    	</div>
    	
        <div class="item item-divider">{{ 'Infomation' | translate }}</div>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Id' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPKhachHang_id" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Tên Khách Hàng' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPKhachHang_title" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Mã Khách Hàng' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPKhachHang_code" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Email' | translate }}:
    		<input class="form-control" type="email" ng-model="CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPKhachHang_email" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Số Điện Thoại' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPKhachHang_mobile" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Thành Viên' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPKhachHangWnd.qlspKhachHang.QLSPThanhVien_id" />
    	</label>


     	<div class="padding">
    		<button class="button button-dark button-block" ng-click="saveQLSPKhachHang()">{{ 'Save' | translate }}</button>
    	</div>
   	</div>
  </form>

  </ion-content>
</ion-modal-view>

