
<ion-modal-view>
	<ion-header-bar class="bar-dark">
    <button class="button button-clear" ng-click="closeQLSPSanPhamWnd()"><i class="icon ion-ios-close-outline"></i></button>
	  <h1 class="title">{{newQLSPSanPham ? "CREATE" : "EDIT" | translate}} {{'SẢN PHẨM' | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="saveQLSPSanPham()"><i class="icon ion-checkmark-circled"></i></button>
    </div>
	</ion-header-bar>
  <ion-content>
  <form name="CreateEditQLSPSanPhamForm">
    <div class="list padding card">
    	<div class="item item-input">
              <span class="invalid-input" ng-if="!CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_title"></span>
    		  <input type="text" ng-required="true" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_title" placeholder="QLSPSanPham {{ 'SẢN PHẨM' | translate }}"/>
    	</div>
    	
        <div class="item item-divider">{{ 'Infomation' | translate }}</div>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Id' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_id" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Tên Sản Phẩm' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_title" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Mã Sản Phẩm' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_code" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Giá 1' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_price1" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Giá 2' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_price2" />
    	</label>
    	<label class="item item-input item-floating-label">
			{{ 'Ghi Chú' | translate }}:
    		<textarea autocomplete="off" class="form-control" rows="5" required placeholder="" value="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_note" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_note"></textarea>
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Thành Viên' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPThanhVien_id" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Ảnh' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPSanPhamWnd.qlspSanPham.QLSPSanPham_cover" />
    	</label>


     	<div class="padding">
    		<button class="button button-dark button-block" ng-click="saveQLSPSanPham()">{{ 'Save' | translate }}</button>
    	</div>
   	</div>
  </form>

  </ion-content>
</ion-modal-view>

