
<ion-modal-view>
	<ion-header-bar class="bar-dark">
    <button class="button button-clear" ng-click="closeQLSPInvoiceWnd()"><i class="icon ion-ios-close-outline"></i></button>
	  <h1 class="title">{{newQLSPInvoice ? "CREATE" : "EDIT" | translate}} {{'HÓA ĐƠN' | translate}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="saveQLSPInvoice()"><i class="icon ion-checkmark-circled"></i></button>
    </div>
	</ion-header-bar>
  <ion-content>
  <form name="CreateEditQLSPInvoiceForm">
    <div class="list padding card">
    	<div class="item item-input">
              <span class="invalid-input" ng-if="!CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPKhachHang_title"></span>
    		  <input type="text" ng-required="true" ng-model="CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPKhachHang_title" placeholder="QLSPInvoice {{ 'HÓA ĐƠN' | translate }}"/>
    	</div>
    	
        <div class="item item-divider">{{ 'Infomation' | translate }}</div>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Id' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPInvoice_id" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Đợt Bán' | translate }}:
    		<input class="form-control" type="hidden" ng-model="CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPChannel_id" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Ngày' | translate }}:
    		<input class="form-control" type="date" fix-input-date "" ng-model="CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPInvoice_created" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Tổng' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPInvoice_total" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'Tên Khách Hàng' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPKhachHang_title" />
    	</label>
    	<label class="item item-input item-floating-label" style="">
			{{ 'SĐT Khách Hàng' | translate }}:
    		<input class="form-control" type="text" ng-model="CreateEditQLSPInvoiceWnd.qlspInvoice.QLSPKhachHang_mobile" />
    	</label>


     	<div class="padding">
    		<button class="button button-dark button-block" ng-click="saveQLSPInvoice()">{{ 'Save' | translate }}</button>
    	</div>
   	</div>
  </form>

  </ion-content>
</ion-modal-view>

