
<ion-view view-title="{{ 'ĐỢT BÁN' | translate }}" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button ink button-icon button-clear ion-plus" ng-click="CreateEditQLSPChannel()"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader bar-stable item-input">
        <label class="item-input-wrapper light-bg" style1='box-shadow:0 1px 2px 1px #dddddd;'>
            <input type="text" placeholder="{{ 'Search' | translate }}"  ng-model="searchText">
        </label>
        <button class="button ink button-icon button-clear icon ion-ios-search">
        
        </button>
    </div>
    <ion-content class="newscategory scroll-content ionic-scroll has-subheader">
        <div ng-if="!qlspChannels || qlspChannels.length==0" class="center">
            <div class="hardware">
                <i class="icon ion-alert"></i>
                <h3>{{ 'Empty' | translate }}!</h3>
            </div>
        </div>
        <ion-list can-swipe="true" show-delete="false" show-reorder="false">  
            <div class="item item-divider" ng-repeat-start="firstLetter in firstLetters | orderBy:'toString()'">
            {{firstLetter}}
            </div>
            <div ng-repeat="qlspChannel in qlspChannelsByFirstLetter[firstLetter] | filter:searchText | orderBy:'QLSPChannel_title'" class="row">
                <div class="col item card" ng-style="bg(qlspChannel.QLSPChannel_id);">
                    <div class="opacity"></div>
                    <div class="box" style="width: 80%;text-align: center;" ui-sref="app.DetailsQLSPChannel({qlspChannel_id: qlspChannel.QLSPChannel_id})">
                        <h5>{{qlspChannel.QLSPChannel_title}}</h5>
                    </div>
                </div>
            </div>
            <span ng-repeat-end="">
            
            </span>
        </ion-list>
    </ion-content>
</ion-view>

